<%- include('../header') -%>
<section class="cart">
    <div class="order container mx-auto w-1/2 py-8">
      <div class="flex items-center border-b border-gray-300 pb-4"> 
          <img class="w-10 h-10" src="https://i.etsystatic.com/10919371/r/il/08e506/1529874052/il_570xN.1529874052_1xc2.jpg" alt="">
          <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
      </div>
      <div class="food-list py-4">
        <div class="flex items-center ">
            <img class="w-40 h-20" src="/img/thali.png" alt="">
            <div class="ml-2 flex-1">
                <h1>Normal Thali</h1>
                <span>Medium</span>
            </div>
            <span class="flex-1">1 Pcs</span>
            <span class="font-bold">Rs: 100</span>
        </div>
      </div>
      <div class="food-list">
        <div class="flex items-center ">
            <img class="w-40 h-20" src="/img/thali.png" alt="">
            <div class="ml-2 flex-1">
                <h1>Normal Thali</h1>
                <span>Medium</span>
            </div>
            <span class="flex-1">1 Pcs</span>
            <span class="font-bold">Rs: 100</span>
        </div>
      </div><hr>
      <div class="text-right py-4">
          <div>
              <span class="text-lg font-bold">Total Amount</span>
              <span class="amount text-2xl font-bold ml-2">Rs: 370</span>
          </div>
          <div>
              <form action="" class="mt-10">
                  <input class="border border-grey-400 p-1 w-1/2 mb-4" type="text" placeholder="Phone Number">
                  <input class="border border-grey-400 p-1 w-1/2" type="text" placeholder="Address">
                  <!-- <div>
                    <button class="btn-primary px-4 py-1 rounded-full mt-4 text-white font-bold" type="submit">Order Now</button>
                  </div> -->
              </form>
          </div>
          <a href="" class="btn-primary px-4 py-1 rounded-full mt-4 text-white font-bold inline-block cursor-pointer">Login to continue</a>
      </div>
    </div>
    <!-- <div class="empty-cart py-10">
        <div class="container mx-auto text-center">
            <h1 class="text-2xl font-bold mt-3 mb-2">Cart Empty 😄</h1>
            <p class="text-grey-500 text-lg">You probably haven't ordered a food yet.<br>
                To order a food go to main page.
            </p>
           <div class="w-50 flex justify-center">
              <img class="h-80" src="https://image.freepik.com/free-photo/3d-white-people-santa-claus-pushing-shopping-cart-empty_168450-13.jpg" alt="cart">
           </div>
            <a class="inline-block px-4 py-1 btn-primary text-white font-bold rounded-full mt-5" href="/">Go Back</a>
        </div>
      </div> -->
</section>